.box {
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 7% !important;
    min-height: 320px;
    overflow: auto;
    font-family: rubik,sans-serif;
    margin: 3% 2%;
}

.box_text {
    color: gray;
    font-size: small;
}
    
.box_btn {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 2% 15%;
    cursor: pointer;
    border-radius: 40px;
    border: solid 3px;
    font-size: 28px;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.box_btn_submit {
    padding: 1% 5%;
    min-width: 210px;
    color: #fff;
    background-color: #66c074;
    border: 1px solid #66c074;
}

input[type="file"] {
    display: none;
}

input[type="submit"] {
    display: none;
}

.box_img {
    width: 20%;
    margin-top: 0%;
    margin-bottom: 5%;
}

