<!doctype html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>Upload new File</title>
    <h1>Upload template and data for autofilling</h1>
    <form method=post enctype=multipart/form-data>
	
	    <label for="file1">Choose PPTX template file:</label>
        <input type=file name=file1 value="Add to favorites">
		<p> </p>
	    <label for="file1">Choose Excel data file:</label>
		<input type=file name=file2 value="Add to favorites">
		<p> </p>
        <input type=submit value="Upload and download filled presentation">
    </form>
	
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		<label for="file1">Choose PPTX template file:</label>
        <input type=file name=file1 value="Add to favorites">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		<label for="file1">Choose Excel data file:</label>
		<input type=file name=file2 value="Add to favorites">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>